---
name: SiteVerify

on: pull_request

jobs:
  site-verify:
    runs-on: ubuntu-latest
    name: Verify site files
    steps:
      - name: Source checkout
        uses: actions/checkout@v2

      - name: HTML proofer
        uses: chabad360/htmlproofer@v1.1
        with:
          directory: "./"
          arguments: "--empty-alt-ignore --check-favicon --check-img-http --enforce-https --only-4xx"

      - name: Run vale for spelling and grammar check
        uses: errata-ai/vale-action@v1.0.4
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: Lint web files with Prettier
        uses: creyD/prettier_action@v2.1
        with:
          prettier_options: "--check **/*.{html,css,scss}"
          branch: ${{ github.head_ref }}
          dry: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: eslint
        uses: reviewdog/action-eslint@v1
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-check
          eslint_flags: "--report-unused-disable-directives ."
